 body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;

}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: white;
    font-size: 10px;
    font-weight: 700;
    opacity: 0;
    animation: content 6s forwards;
    
    
}

.firstsegment {
    font-size: 30px;
    margin: 0;
    color: gold;
    padding-top: 0px;
    
}
.secondsegment{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: black;
    background-color: white;
}


.content {
    opacity: 0;
    animation: content 7s forwards;
    
    
}
@keyframes content{
             to{
                opacity: 1;
             }

}
.hello{
    color: black;
    font-weight: 400;
    font-size: 50px;
    text-align: left;
    padding: 60px 80px;
    padding-bottom: 0px;
}
.name{
    color: black;
    font-weight: 700;
    font-size: 50px;
    text-align: left;
    padding: 0px 80px;

}

.navigation {
   display: flex;
}

.nav-button {
    background-color: gold;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 35px;
    margin-left: 10px;
    margin-bottom: 27px;
    margin-top: 14px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.1);

    
}
.brief{
    font-size: 20px;
    text-align: left;
    padding: 5px 80px; 
    color: black;
    font-weight: 400;
    opacity: 0;
    animation:description 6s forwards;
}
@keyframes description{
    to{
       opacity: 1;
    }

}

.title{
    font-weight: 400;
    font-size: 30px;
    color: gold;
    padding: 15px 80px;
    padding-bottom: 0px;
    
}
button{
    margin-left: 80px;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 400;
    background-color: gold;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    
}
button:hover{
    transform: scale(1.1);

}
